#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-img{
    width: 600px;
}

.about-text{  
    width: 650px;
}

.about-description{
    text-indent: 20px;
    text-align: justify;
}