#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-img{
    width: 600px;
}

.about-text{  
    width: 650px;
}

.about-description{
    text-indent: 20px;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    #about{
        flex-direction: column;
    }

    .about-img{
        width: auto;
    }
    
    .about-text{  
        width: auto;
    }
}