#intro{
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.intro-title{
    font-weight: 700;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

.intro-subtitle{
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
}

.intro-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.link{
    width: 65px;
    height: 65px;
    padding: 12px;
    margin-right: 15px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .4s;
}

.link svg{
    fill: white;
    margin: auto;
    transition: all linear .5s;
}

.link-linkedin:hover{
    background: white;
}

.link-linkedin:hover svg{
    fill: rgb(10, 102, 194);
}

.link-github:hover{
    background: white;
}

.link-github:hover svg{
    fill: black;
}

.link-resume:hover{
    background: white;
}

.link-resume:hover svg{
    fill: red;
}

.link-email:hover{
    background: white;
}

.link-email:hover svg{
    fill: rgb(248, 156, 31);
}

@media screen and (max-width: 768px) {
    .intro-title{
        font-weight: 700;
        font-size: 2.5em;
        text-transform: uppercase;
        text-align: center;
    }
    
    .intro-subtitle{
        font-weight: 700;
        font-size: 1em;
        text-align: center;
    }

    .link{
        width: 55px;
        height: 55px;
        padding: 12px;
    }
}