* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
    font-weight: 400;
    color: white;
}

body{
    background: rgb(8, 12, 19);
    max-width: 100%;
}

.container{
    padding: 0 15px;
}

.container-img img{
    max-width: 100%;
    width: 100%;
    height: 100%;
}


