* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
    font-weight: 400;
    color: white;
}

body{
    background: rgb(8, 12, 19);
    max-width: 100%;
}

h2{
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;
}

h3{
    font-weight: 500;
}

.container{
    padding: 0 15px;
}

.container-img img{
    max-width: 100%;
    width: 100%;
}

.observation{
    color: rgba(255, 255, 255, .5);
    display: inline-block;
    margin-top: 8px;
}


