#projects{
    margin-top: 50px;
}

.projects-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card{
    width: 400px;
    border: 1px solid white; 
    background: #3e4251;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    height: 500px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.project-thumb{
    height: 210px;
}

.project-thumb img{
    height: 100%;
}

.project-title{
    display: inline-block;
    background: linear-gradient(90deg, rgb(118, 29, 122), rgb(88, 15, 163));
    width: 100%;
}

.project-title, .project-description{
    color: white;
    padding: 10px;
}

.project-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(90deg, rgb(118, 29, 122), rgb(88, 15, 163));
}

.project-links svg{
    fill: rgba(255, 255, 255, .5);
    transition: all linear .3s;
}

.project-links-infos{
    width: 30px;
    cursor: pointer;
}

.project-links-infos svg{
    transition: all linear .3s;
}

.project-links-infos:hover svg{
    fill: rgba(255, 255, 255, 1);
}

.project-links-app a{
    display: inline-block;
    width: 30px;
    margin-right: 8px;
}

.project-links-app a svg{
    transition: all linear .3s;
}

.project-links-app a:hover svg{
    fill: rgba(255, 255, 255, 1);
}

.project-primary-screen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    height: 100%;
}

.project-secondary-screen{
    background: rgba(0, 0, 0, .8);
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    transition: all linear .3s;
    overflow: hidden;
    transform: translateY(-100%);
}

.project-secondary-screen .btn-close{
    width: 30px;
    fill: rgba(255, 255, 255, .4);
    right: 0;
    cursor: pointer;
    transition: all linear .3s;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;;
}

.project-secondary-screen .btn-close:hover{
    fill: rgba(255, 255, 255, 1); 
}

